xcschememanagement.plist
Carthage/Build/iOS/577D2F1D-B568-3768-9895-D98AB17DE3FE.bcsymbolmap
Carthage/Build/iOS/7D8D152F-333E-3085-89A6-2FBDAF981DD7.bcsymbolmap
Carthage/Build/iOS/A0C5B511-BAAD-373B-85D6-B85BB743438A.bcsymbolmap
Carthage/Build/iOS/C02C1647-01E9-36DE-9A4A-9560F1FB44FC.bcsymbolmap
Carthage/Checkouts/lottie-ios/.gitignore
Carthage/Checkouts/lottie-ios/.npmignore
Carthage/Checkouts/lottie-ios/index.js
Carthage/Checkouts/lottie-ios/LICENSE
Carthage/Checkouts/lottie-ios/lottie-ios.podspec
Carthage/Checkouts/lottie-ios/package.json
Carthage/Checkouts/lottie-ios/README.md
Carthage/Checkouts/lottie-ios/.github/issue_template.md
Carthage/Checkouts/lottie-ios/_AeFiles/EmptyState.aep
Carthage/Checkouts/lottie-ios/_AeFiles/HamburgerArrow.aep
Carthage/Checkouts/lottie-ios/_AeFiles/KeypathTest.aep
Carthage/Checkouts/lottie-ios/_AeFiles/LottieLogos.aep
Carthage/Checkouts/lottie-ios/_AeFiles/PinJump.aep
Carthage/Checkouts/lottie-ios/_AeFiles/TimeRemap.aep
Carthage/Checkouts/lottie-ios/_AeFiles/TwitterHeart.aep
Carthage/Checkouts/lottie-ios/_AeFiles/Walkthrough.aep
Carthage/Checkouts/lottie-ios/_AeFiles/Adobe After Effects Auto-Save/KeypathTest auto-save 1.aep
Carthage/Checkouts/lottie-ios/_AeFiles/Adobe After Effects Auto-Save/KeypathTest auto-save 2.aep
Carthage/Checkouts/lottie-ios/_AeFiles/Adobe After Effects Auto-Save/TimeRemap auto-save 1.aep
Carthage/Checkouts/lottie-ios/_AeFiles/Adobe After Effects Auto-Save/TimeRemap auto-save 2.aep
Carthage/Checkouts/lottie-ios/_Gifs/abcs.gif
Carthage/Checkouts/lottie-ios/_Gifs/aftereffectskeypath.png
Carthage/Checkouts/lottie-ios/_Gifs/Community 2_3.gif
Carthage/Checkouts/lottie-ios/_Gifs/EmptyState.gif
Carthage/Checkouts/lottie-ios/_Gifs/Examples1.gif
Carthage/Checkouts/lottie-ios/_Gifs/Examples2.gif
Carthage/Checkouts/lottie-ios/_Gifs/Examples3.gif
Carthage/Checkouts/lottie-ios/_Gifs/Examples4.gif
Carthage/Checkouts/lottie-ios/_Gifs/HamburgerArrow.gif
Carthage/Checkouts/lottie-ios/_Gifs/iosexample1.png
Carthage/Checkouts/lottie-ios/_Gifs/iosexample2.png
Carthage/Checkouts/lottie-ios/_Gifs/iosexample3.png
Carthage/Checkouts/lottie-ios/_Gifs/LottieLogo1.gif
Carthage/Checkouts/lottie-ios/_Gifs/LottieLogo2.gif
Carthage/Checkouts/lottie-ios/_Gifs/macexample.png
Carthage/Checkouts/lottie-ios/_Gifs/PinJump.gif
Carthage/Checkouts/lottie-ios/_Gifs/spinner.gif
Carthage/Checkouts/lottie-ios/_Gifs/spinner_Alternative.gif
Carthage/Checkouts/lottie-ios/_Gifs/spinner_DarkMode.gif
Carthage/Checkouts/lottie-ios/_Gifs/switch_BgColors.gif
Carthage/Checkouts/lottie-ios/_Gifs/switch_disabled.png
Carthage/Checkouts/lottie-ios/_Gifs/switch_enabled.png
Carthage/Checkouts/lottie-ios/_Gifs/switch_MultipleBgs.gif
Carthage/Checkouts/lottie-ios/_Gifs/switch_Normal.gif
Carthage/Checkouts/lottie-ios/_Gifs/switchTest.gif
Carthage/Checkouts/lottie-ios/_Gifs/transition3.gif
Carthage/Checkouts/lottie-ios/_Gifs/transitionMasked.gif
Carthage/Checkouts/lottie-ios/_Gifs/transitionPosition.gif
Carthage/Checkouts/lottie-ios/_Gifs/TwitterHeart.gif
Carthage/Checkouts/lottie-ios/_Gifs/Walkthrough.gif

Carthage/Checkouts/lottie-ios/Example-Swift

Carthage/Checkouts/lottie-ios/Example
Carthage/Checkouts/lottie-ios/Lottie/Info.plist
Carthage/Checkouts/lottie-ios/lottie-ios/Assets/.gitkeep
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/.gitkeep
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableLayers/LOTCompositionContainer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableLayers/LOTCompositionContainer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableLayers/LOTLayerContainer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableLayers/LOTLayerContainer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableLayers/LOTMaskContainer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableLayers/LOTMaskContainer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableProperties/LOTBezierData.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableProperties/LOTBezierData.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableProperties/LOTKeyframe.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/AnimatableProperties/LOTKeyframe.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/CGGeometry+LOTAdditions.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/CGGeometry+LOTAdditions.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/LOTBezierPath.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/LOTBezierPath.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/LOTHelpers.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/LOTRadialGradientLayer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/LOTRadialGradientLayer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/UIColor+Expanded.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Extensions/UIColor+Expanded.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/CALayer+Compat.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/CALayer+Compat.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/LOTPlatformCompat.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/NSValue+Compat.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/NSValue+Compat.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/UIBezierPath.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/UIBezierPath.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/UIColor.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/MacCompatibility/UIColor.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTAsset.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTAsset.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTAssetGroup.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTAssetGroup.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTLayer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTLayer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTLayerGroup.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTLayerGroup.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTMask.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTMask.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTModels.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeCircle.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeCircle.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeFill.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeFill.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeGradientFill.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeGradientFill.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeGroup.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeGroup.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapePath.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapePath.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeRectangle.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeRectangle.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeRepeater.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeRepeater.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeStar.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeStar.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeStroke.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeStroke.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeTransform.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeTransform.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeTrimPath.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Models/LOTShapeTrimPath.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTAnimatedControl.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTAnimatedSwitch.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTAnimationCache.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTAnimationTransitionController.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTAnimationView.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTAnimationView_Internal.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTBlockCallback.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTCacheProvider.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTComposition.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTInterpolatorCallback.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTKeypath.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/Private/LOTValueCallback.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTAnimatedControl.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTAnimatedSwitch.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTAnimationCache.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTAnimationTransitionController.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTAnimationView.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTAnimationView_Compat.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTBlockCallback.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTCacheProvider.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTComposition.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTInterpolatorCallback.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTKeypath.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/Lottie.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTValueCallback.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/PublicHeaders/LOTValueDelegate.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/LOTAnimatorNode.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/LOTAnimatorNode.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/LOTRenderNode.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/LOTRenderNode.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTCircleAnimator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTCircleAnimator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTPathAnimator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTPathAnimator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTPolygonAnimator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTPolygonAnimator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTPolystarAnimator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTPolystarAnimator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTRoundedRectAnimator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/AnimatorNodes/LOTRoundedRectAnimator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTArrayInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTArrayInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTColorInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTColorInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTNumberInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTNumberInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTPathInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTPathInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTPointInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTPointInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTSizeInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTSizeInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTTransformInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTTransformInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTValueInterpolator.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/InterpolatorNodes/LOTValueInterpolator.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/ManipulatorNodes/LOTTrimPathNode.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/ManipulatorNodes/LOTTrimPathNode.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTFillRenderer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTFillRenderer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTGradientFillRender.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTGradientFillRender.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTRenderGroup.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTRenderGroup.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTRepeaterRenderer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTRepeaterRenderer.m
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTStrokeRenderer.h
Carthage/Checkouts/lottie-ios/lottie-ios/Classes/RenderSystem/RenderNodes/LOTStrokeRenderer.m
Carthage/Checkouts/lottie-ios/Lottie.xcodeproj/project.pbxproj
Carthage/Checkouts/lottie-ios/Lottie.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/lottie-ios/Lottie.xcodeproj/xcshareddata/xcschemes/Lottie.xcscheme
Carthage/Checkouts/lottie-ios/Lottie.xcodeproj/xcshareddata/xcschemes/Lottie_macOS.xcscheme
Carthage/Checkouts/lottie-ios/Lottie.xcodeproj/xcshareddata/xcschemes/Lottie_tvOS.xcscheme
Carthage/Checkouts/lottie-ios/MacOS_Viewer/LottieViewer.zip
Carthage/Build/Mac
